<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/super.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/body.css" rel="stylesheet">

    <title>Hero Theme</title>
</head>

<body>
    <!-- <h1>Hero Theme</h1> -->

    {% block content %}
    <h2>No Main Block Defined</h2>
    {% endblock content %}


    <div class="col-3">
        <img src="/static/images/bear.png" alt="UNC Bear">
    </div>

</body>

</html>