{% extends 'theme.html' %}

{% block content %}

<h2>Hero Details</h2>
<ul>

    <li>Name: {{ object.name }}</li>
    <li>Description: {{ object.description }}</li>
    <!--<li>Identity: {{ object.identity }}</li>
    <li>Strength: {{ object.strength }}</li>
    <li>Weakness: {{ object.weakness }}</li> -->

    <p>
        <img src="{{ hero.image }}" alt="{{ hero.name }}" width="300">
    </p>

    <p>
        <a href="{{ hero.pk }}">{{ hero.name }}</a>
    </p>

    <li>
        <p>
            Secret Identify: {{ hero.identity }}
        </p>

        <P>
            My Strengths include: {{ hero.strength }}
        </P>

        <P>
            My Weaknes: {{ hero.weakness }}
        </P>
    </li>

</ul>

<a href="/hero/" class="btn btn-success m-5">Hero List</a>

{% endblock content %}